    <div class="card mb-4" style="width: 18rem;">
      <img src="/img/{{producto}}.png" class="card-img-top" alt="{{producto}}" />
      <div class="card-body d-flex justify-content-around">
        <h5 class="card-title">{{producto}}</h5>
        <button class="boton-producto btn btn-success" data-producto="{{producto}}">Agregar</button>
      </div>
    </div>