<nav class="navbar navbar-dark bg-success">
  <div class="container-fluid d-flex justify-content-between">
    
      <p class="fs-2 fw-bold m-0" style="color: #ffffff;">MERCADO WEB</p>
      <button
        id="botonCarrito"
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#modalCarrito"
      >
        <i class="fas fa-shopping-cart fa-2x"></i>
      </button>

  </div>
</nav>