<div>

  <div id="liveAlertPlaceholder" style="position: absolute; top: 40px; left: 50px; right: 50px; z-index: 2;"></div>
  
    {{> menu}}
      <h1 class="text-center fs-2 mt-5">Bienvenido/a al Mercado Web, selecciona tus productos</h1>

    {{> dashboard }}

    {{> modal}}
</div>